<h2>Add Reservation</h2>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Client Name</mat-label>
    <input matInput formControlName="clientName">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
